.about{
    /* border:2px solid rgb(212, 235, 84); */
    width:95%;
    height:90%;
    margin:10px auto;
    padding:8px 4px 4px 14px;
    overflow:auto;
    display:block;
}
#about-info{
    /* border:2px solid rgb(65, 233, 63); */
    width:98%;
    padding:1px;
}
#about-info p{
    font-size:1.2em;
    font-weight:600;
    color:yellow;
    overflow:auto;
}
#about-Experience{
    margin-top:5px;
    margin-bottom:5px;
    /* border:2px solid rgb(212, 235, 84); */
    width:95%;
    height:8%;
    font-size:1.4em;
    padding:4px ;
    font-weight: 700; 
}
#experice-info{
    margin-top:8px;
    margin-bottom:5px;
    /* border:2px solid rgb(212, 235, 84); */
    width:99%;
    height:60%;
    display:flex;
    flex-direction:column;
    /* display:flex;
    flex-wrap:wrap; */
    /* overflow:auto; */
}
#company-info{
    height:20%;
    overflow:auto;
}
#company-info h2{
    color:yellow;
}
#company-info span{
    margin-left:10px;
    font-size: 20px;
}
#company-info,#company-work{
    width:100%;
    display:block;
    /* border:2px solid rgb(212, 235, 84); */
}
#company-work{
    flex:1;
    padding:2px;
}
#company-work ul{
    height:100%;
    padding:6px 12px;
    font-size: 19px;
    /* border:2px solid rgb(147, 84, 235); */
}
#work-items{
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
}
#work-items li{
    height: 30%;
    width: 20%;
    text-align: center;
    margin-right: 3px;
    padding: 2px;
    display: inline-block;  /* fixed */
    border-radius: 8px;
    animation-name: jump;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0 2px 6px 0 rgba(84, 202, 235, 0.45);
}
#work-items li:nth-child(1) { animation-delay: 0s; }
#work-items li:nth-child(2) { animation-delay: 0.8s; }
#work-items li:nth-child(3) { animation-delay: 0s; }
#work-items li:nth-child(4) { animation-delay: 0.8s; }
@keyframes jump {
    from{
       transform: translateY(0%);
    }
    to{
       transform: translateY(200px);
    }
}

@media (max-width: 786px){
    #company-info{
        font-size:20px;
    }
    #about-info p{
        font-size:15px;
    }
    #work-items{ 
        display:flex;
        flex-wrap: wrap;

    }
    #work-items li{
        text-align: center;
        width:40%;
        /* height:20%; */
       margin-right:20px;
        animation: none;
        font-size:15px;
    }
    #company-info h2{
        font-size:18px;
    }
    #company-info span{
        font-size:16px;
    }

}
@media (max-height: 600px){
    #about-info p{
        font-size:15px;
    }
}
@media screen {
    
}

